<div class="page">
  <h1 class="header">{{project?.projTitle}}</h1> -->

  <div class="container">
    <div class="image">
      <img class="image" src={{project?.projImg1}}>
      <img class="image" src={{project?.projImg2}}>
    </div>

    <div id="project-info">
      <h1 class="date">{{project?.projDate}}</h1>
      <p class="text">{{project?.projDescription}}</p>
      <a href={{project?.contentLink}} target="_blank">
        <mat-icon class="icon">link</mat-icon>
      </a>

    </div>
    <img class="container2" class="image" src={{project?.projImg3}}>
    <img class="container2" class="image" src={{project?.projImg4}}>
  </div>
</div>