<h1 class="header">Grid Love</h1>
<div class="container">
  <div class="image">
    <img class="image" src="assets/imgs/gridLoveDetailImg2.PNG">
    <img class="image" src="assets/imgs/gridLoveDetailImg1.PNG">
  </div>

  <div id="project-info">
    <h1 class="date">October 2022</h1>
    <p class="text">Grid Love is an eight week long process, which concludes with this publication. This project was
      broken down into manageable steps, beginning with strict parameters, and gradually expanding as we gained
      experience working with grids.
      <br><br>
      First, we populated nine horizontal grids with content. We were restricted to black
      and white, which allowed us to focus solely on how to group content and create a sense of hierarchy and flow.
      Next, we created twelve grids with both horizontal and vertical orientations. Color was introduced in this phase.
      Finally, we populated twelve diagonal grids, which could include imagery and color.
      <br><br> At the beginning of the project, my grids looked similar to the grid thumbnails. As I learned more
      about
      hierarchy, grouping, and
      alignment of elements, the original thumbnails started to dissapear. It was fun to experiement with the different
      ways that changing text size, color, weight, and orientation start to bring hierarchy and cohesion to a
      composition. These strategies have helped me make decisions which aim to bring a clear sense of visual flow to the
      design.
      <br><br>'How do I make this easily navigable for the viewer?' is the question that has shaped how I
      approached each
      grid and this publication as a whole. It prompts me to think about ways to bring the eye through a composition and
      indicate a sense of direction through stop and end points, grouping elements, and aligning elements to the
      gestures of letters. Throughout this process, I think that my decision making has improved, but I also recognize
      that I have a lot more to learn. I hope you enjoy!
      <br><br>
      Click the link below to see the full project:
    </p>
    <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">
      <mat-icon class="icon">link</mat-icon>
    </a>

  </div>
  <img class="container2" src="assets/imgs/gridLoveDetailImg3.PNG">
  <img class="container2" src="assets/imgs/gridLoveDetailImg4.PNG">




</div>