.header {
  background-color: white;
  color: black;
  font-family: 'Lora', serif;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 3vw;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  flex-wrap: wrap;
  flex: 200px;
}

.image {
  margin-top: 4vh;
  max-width: 40vw;
  border-radius: 10px;
}

.text {
  margin-top: 4vh;
  max-width: 40vw;
  font-size: 1.2vw;
  line-height: 1.5vw;
  color: black;
}

.date {
  font-size: 2vw;
  color: black;
}

.icon {
  font-size: 2vw;
}