<mat-toolbar class="toolbar">
  <span>
    <a mat-button routerLink="/home">Clare Schellenberg</a>
  </span>
  <span class="space"></span>
  <a mat-button routerLink="/about">About</a>
  <a mat-button routerLink="/contact">Contact</a>
  <a mat-button routerLink="/portfolio">Portfolio</a>
  <a mat-button routerLink="/proj-info">Project Info Page</a>
</mat-toolbar>

<router-outlet></router-outlet> 
<!-- I THINK THIS IS THE CAUSE OF THE DOUBLE REDNERING PROBLEM  -->
<!-- We fixed this issue, all we had to do was redirect the link to the AppComponnet-->

