#sect1 {
    height: 100%;
    width: 100%;
    // max-width: 100%;
    color: #fff;

    //image source: https://www.titanui.com/38083-abstract-leaves-lineart-vector/
    background-image: url("../assets/imgs/background2.jpg");




    // destroy padding/ margins

    // background-image: url("../assets/imgs/greypattern.jpeg");
    // background-repeat: repeat;

}

#welcome-phrase {
    background-color: #fff;
    padding: 5vmin;
    margin-top: 40vh;
    // padding-top: 200px;
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
    font-size: 7vmin;
}