<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
  </style>
</head>

<div id="sect1" class="container">
  <app-header></app-header>

  <!-- <h1 id="welcome-phrase">
    Welcome to Clare's Website!
  </h1> -->


</div>