<!-- Header goes here -->
<!-- <style>
  body {
    background-image: '../assets/imgs/butterflyImg.jpeg';
  }
</style> -->

<!-- <img src="../assets/imgs/codePic.png" fill priority alt="background photo"> -->
<!-- <img src="../assets/imgs/butterflyImg.jpeg" fill priority alt="background photo"> -->
<!-- <p style="background-image: url('../assets/imgs/butterflyImg.jpeg');"></p> -->
<div id="sect1" class="container">
  <h1>
    Welcome to the Landing page!
  </h1>

  <h2>Now Load image on the displa\</h2>
</div>