#welcome-phrase {
    background-color: #fff;
    padding: 5vmin;
    margin-top: 35vh;
    // padding-top: 200px;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 7vmin;
}