<h1 class="header">About Me</h1>

<div class="container">
    <div class="image">
        <!-- Pic of Clare -->
        <img class="image" src="../../assets/imgs/clareHeadShot.jpeg">
    </div>
    <div>
        <!-- Info for Clare -->
        <p class="text">
            Hey!
            My name is Clare and I like warm hugs!
            I am currently a Senior at Calvin University studying graphic design and loving every second of it. I love
            bringing beauty to everything I touch.

            Feel free to contact me through my contact page. I'd love to hear from you!
        </p>

        <!-- THIS IS NOT WORKING!!!! -->
        <span>
            <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">
                <mat-icon class="icon">linkedin</mat-icon>
            </a>

            <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">
                <mat-icon class="icon">assignment</mat-icon>
            </a>

            <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">
                <mat-icon class="icon">facebook</mat-icon>
            </a>

        </span>

        <!-- <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">
            <mat-icon class="icon">link</mat-icon>
        </a> -->
    </div>

</div>