<div class="page">
    <h1 class="header">About Me</h1>

    <div class="container">
        <div class="image">
            <!-- Pic of Clare -->
            <img class="image" src="../../assets/imgs/clareHeadShot.jpeg">
        </div>
        <div>
            <!-- Info for Clare -->
            <div class="text">
                <p>
                    Hello!
                    Thank you for visting my online portfolio! My name is Clare Schellenberg, and I am a senior at
                    Calvin University who seeks to incorporate values of adaptability, integrity, punctuality, and
                    attention
                    to
                    detail in my work. As a Digital Communications major, I have gained experience in graphic design,
                    photography, video production, and web development. Feel free to reach out to me through my contact
                    page
                    if
                    you have any questions. I
                    would love to hear from
                    you!
                </p>

                <div>
                    <!-- <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">
                    <img src="/../../assets/icons/github.svg" alt="Git Hub Icon" style="width:24px;height:24px" />
                </a> -->

                    <!-- the img tag below uses an svg file in the assets folder.  I could not find this icon in the material design library.-->
                    <a href="https://www.linkedin.com/in/clare-schellenberg" target="_blank">
                        <img src="/../../assets/icons/linkedin.svg" class="icon" alt="Linked In Icon" />
                    </a>

                    <a href="https://drive.google.com/file/d/1nSB1rVC4IAsiIHa_5OwEPIhCAEz8y4Wh/view?usp=sharing"
                        target="_blank">
                        <mat-icon class="icon" alt="Resume Icon">assignment</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>