.header {
  background-color: white;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 3vw;
  text-align: center;
  font-family: 'Lora', serif;
  margin-bottom: 3%;

}

// *********************************************
// The below were taken from proj-info-page.component.css (and partly modified)
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  flex-wrap: wrap;
  flex: 200px;
}

.image {
  max-width: 50vw;
  max-height: 50vh;
  border-radius: 50%;
  // border-radius: 10px;
}

.text {
  font-family: 'Lora', serif;
  background-color: white;
  padding: 2vw;
  border-radius: 10px;
  box-shadow: 2px 2px 5px lightgray;
  max-width: 40vw;
  font-size: 1vw;
  line-height: 1.5vw;
  color: black;
}

.date {
  font-size: 2vw;
}

.icon {
  // fixed size to account for size of svg files
  width: 24px;
  height: 24px;
  color: black;
}