<h1 class="header">About Me</h1>

<div class="container">
    <div class="image">
        <!-- Pic of Clare -->
        <img class="image" src="../../assets/imgs/clareHeadShot.jpeg">
    </div>
    <div>
        <!-- Info for Clare -->
        <p class="text">
            Hello!
            Thank you for visting my online portfolio! My name is Clare Schellenberg, and I am a senior at
            Calvin University who seeks to incorporate values of adaptability, integrity, punctuality, and attention to
            detail in my work. As a Digital Communications major, I have gained experience in graphic design,
            photography, video production, and web development. Feel free to reach out to me through my contact page if
            you have any questions. I
            would love to hear from
            you!
        </p>

        <!-- some code from below was taken from https://dev.materialdesignicons.com/getting-started -->
        <!-- To add more icons, download SVG files from https://materialdesignicons.com/ and store them in assets/icons -->
        <span>
            <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">
                <img src="/../../assets/icons/github.svg" alt="Git Hub Icon" style="width:24px;height:24px" />
            </a>

            <a href="https://www.w3schools.com/html/html_links.asp" target="_blank">
                <img src="/../../assets/icons/linkedin.svg" alt="Linked In Icon" style="width:24px;height:24px" />
            </a>
        </span>
    </div>
</div>