<p class="header">Contact Me</p>
<div class="container">
  <h1 class="description">Leave me a message!</h1>
  <mat-card class="form">
    <mat-card-title></mat-card-title>
    <mat-card-subtitle>Your Name</mat-card-subtitle>
    <input type="text" class="textbox">
    <mat-card-subtitle>Your Email</mat-card-subtitle>
    <input type="text" class="textbox">
    <mat-card-subtitle>Your Message</mat-card-subtitle>
    <textarea type="text" class="textbox" id="message-box"></textarea>
    <div>
      <button mat-raised-button>Submit Message</button>
    </div>
  </mat-card>
</div>