.header {
  background-color: white;
  color: black;
  font-family: 'Lora', serif;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 3vw;
  text-align: center;
}

.description {
  font-size: 5vw;
  max-width: 30vw;
  line-height: 5vw;
  color: black;
  font-family: 'Lora', serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.textbox {
  margin-bottom: 15px;
  width: 75%;
}

.form {
  margin-top: 4vh;
  width: 40vw;
  border: 5px solid rgb(232, 228, 228);
  padding: 2vw;
  margin-bottom: 4vh;
}

#message-box {
  height: 200px;
  width: 40vw;
  max-width: 100%;
  min-width: 75%;
}