<div class="page">
  <p class="header">Contact Me</p>
  <div class="container">
    <h1 class="description">Leave me a message!</h1>
    <mat-card class="form">
      <form>
        <mat-card-title></mat-card-title>
        <mat-form-field class="textbox"><input matInput placeholder="Your Name" class="textbox"></mat-form-field>
        <mat-form-field class="textbox"><input matInput placeholder="Your Email" class="textbox"></mat-form-field>
        <mat-form-field class="textbox"><textarea matInput placeholder="Your Message" class="textbox"
            id="message-box"></textarea></mat-form-field>
        <div>
          <button class="button" mat-raised-button>Submit Message</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>