<div class="page">
  <mat-card id="card">
    <mat-card-title id="title">{{cardTitle}}</mat-card-title>
    <mat-card-subtitle id="description">{{cardDescription}}</mat-card-subtitle>
    <mat-card-content id="image-box">
      <img mat-card-image src={{cardImage}} id="image">

    </mat-card-content>
    <mat-card-content>
      <button mat-raised-button id="learn-more-button" (click)="goToProjInfoPage()">Learn More</button>
      <span> <a href={{contentLink}} target="_blank" class="icon">
          <mat-icon class="icon">link</mat-icon>
        </a>
      </span>
    </mat-card-content>
  </mat-card>
</div>